//////// PATRON DE COLORES ////////
$primary: #bae8e8;
$secondary: #272343;

//////// TIPOGRAFIA ////////
$font-family-sans-serif: "Roboto", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

//////// CUSTOM CSS ////////
.navbar-logo:hover {
  text-decoration: none;
}
